# Unified configuration for scFM evaluation pipeline
# All dataset paths, model paths, and parameters are centralized here

# Model directory paths - where downloaded models are stored
model_paths:
  geneformer:
    model_dir: "/home/wanglinting/scFM/Download/GeneformerV2/Geneformer-V2-316M"
    token_dict: "/home/wanglinting/scFM/Download/GeneformerV2/geneformer/token_dictionary_gc104M.pkl"
    code_path: "/home/wanglinting/scFM/Download/GeneformerV2/geneformer"
    thread_num: 4
    gpu: 0
    batch_size: 32
    embedding_dim: 1152

  genecompass:
    code_path: "/home/wanglinting/LCBERT/Download/GeneCompass/genecompass"
    prior_knowledge_path: "/home/wanglinting/scFM/Download/GeneCompass/prior_knowledge"
    checkpoint_path: "/home/wanglinting/scFM/Download/GeneCompass/pretrained_models/GeneCompass_Base"
    resources:
      dict_path: "/home/wanglinting/scFM/Download/GeneCompass/scdata/dict/human_gene_median_after_filter.pickle"
      token_path: "/home/wanglinting/scFM/Download/GeneCompass/scdata/dict/human_mouse_tokens.pickle"
      gene_id_name_path: "/home/wanglinting/scFM/Download/GeneCompass/scdata/dict/Gene_id_name_dict1.pickle"
      gene_id_path: "/home/wanglinting/scFM/Download/GeneCompass/scdata/dict/gene_id_hpromoter.pickle"
      protein_coding_path: "/home/wanglinting/scFM/Download/GeneCompass/scdata/human_protein_coding.txt"
      mirna_path: "/home/wanglinting/scFM/Download/GeneCompass/scdata/human_miRNA.txt"
      mitochondria_path: "/home/wanglinting/scFM/Download/GeneCompass/scdata/human_mitochondria.xlsx"
    gpu: 1
    batch_size: 32
    pooling_method: "cls" 
  

  cellplm:
    module_path: "/home/wanglinting/scFM/Download/CellPLM"
    pretrain_directory: "/home/wanglinting/LCBERT/Download/CellPLM/ckpt"
    pretrain_version: "20231027_85M"
    gpu: 2
    batch_size: 2048

  uce:
    code_path: "/home/wanglinting/scFM/Download/UCE"
    model_path: "/home/wanglinting/scFM/Download/UCE/model_files/33l_8ep_1024t_1280.torch"
    gpu: 3
    nlayers: 33
    batch_size: 32
    species: "human"
  
  scfoundation:
    code_path: "/home/wanglinting/scFM/Download/scFoundation/model"
    gene_list: "/home/wanglinting/scFM/Download/scFoundation/model/OS_scRNA_gene_index.19264.tsv"
    model_path: "/home/wanglinting/scFM/Download/scFoundation/model/models/models.ckpt"
    gpu: 4
    batch_size: 32
  
  sccello:
    transformation_script: "/home/wanglinting/scFM/Code/model-sccello/sccello/script/run_data_transformation.py"
    code_path: "/home/wanglinting/scFM/Code/model-sccello/sccello"
    pretrained_ckpt: "/home/wanglinting/scFM/Download/scCello/scCello-zeroshot"
    gpu: 5
    batch_size: 32
  
  scgpt:
    model_dir: "/home/wanglinting/scFM/Download/scGPT/model/scGPT_human"
    code_path: "/home/wanglinting/scFM/Download/scGPT/scgpt"
    gpu: 6
    batch_size: 32
  
  nicheformer:
    model_dir: "/home/wanglinting/scFM/Download/nicheformer/nicheformer.ckpt"
    technology_mean_path: "/home/wanglinting/scFM/Download/nicheformer/data/model_means/dissociated_mean_script.npy"
    model_reference_path: "/home/wanglinting/scFM/Download/nicheformer/data/model_means/model.h5ad"
    code_path: "/home/wanglinting/LCBERT/Download/nicheformer/src/nicheformer"
    gpu: 7
    batch_size: 32
    max_seq_len: 1500
    aux_tokens: 30
    chunk_size: 1000
    num_workers: 4
    modality_code: 3       # dissociated
    technology_dict:
      "merfish": 7
      "MERFISH": 7
      "cosmx": 8
      "NanoString digital spatial profiling": 8
      "visium": 9
      "10x 5' v2": 10
      "10x 3' v3": 11
      "10x 3' v2": 12
      "10x 5' v1": 13
      "10x 3' v1": 14
      "10x 3' transcription profiling": 15
      "10x transcription profiling": 15
      "10x 5' transcription profiling": 16
      "CITE-seq": 17
      "Smart-seq v4": 18
    species_dict:
      "human": 5
      "Human": 5
      "mouse": 6
      "Mouse": 6
      "Mus musculus": 6
      "Homo sapiens": 5


# Batch correction parameters
batch_correction:
  batch_cells:
    max_cells_per_batch: 10000
    random_seed: 42
    normalize: true


# Probing parameters
probing:
  cv_folds: 5
  test_size: 0.2
  random_seed: 42
  classifiers:
    - logistic_regression


# Dataset configurations
datasets:
  
  limb:
    description: "Cross-species limb tissue dataset"
    human_path: "/home/wanglinting/scFM/Data/CELLxGENE/limb_human.h5ad"
    mouse_path: "/home/wanglinting/scFM/Data/CELLxGENE/limb_mouse.h5ad"
    homology_path: "/home/wanglinting/scFM/Data/CELLxGENE/mart_export.txt"
    output_data_dir: "/home/wanglinting/scFM/Data/Evaluation/limb"
    output_res_dir: "/home/wanglinting/scFM/Result/limb"
    batch_key: "organism"
    celltype_key: "cell_type"
    gene_col: "gene_symbols"

  
  liver:
    description: "Liver tissue dataset"
    data_path: "/home/wanglinting/scFM/Data/CELLxGENE/liver.h5ad"
    output_data_dir: "/home/wanglinting/scFM/Data/Evaluation/liver"
    output_res_dir: "/home/wanglinting/scFM/Result/liver"
    batch_key: "donor_id"
    celltype_key: "cell_type"
    gene_col: "gene_symbols"

  
  Immune:
    description: "Immune cells dataset"
    data_path: "/home/wanglinting/scFM/Data/CELLxGENE/immune_cells.h5ad"
    output_data_dir: "/home/wanglinting/scFM/Data/Evaluation/Immune"
    output_res_dir: "/home/wanglinting/scFM/Result/Immune"
    batch_key: "tissue"
    celltype_key: "cell_type_level_2"
    gene_col: "gene_symbols"

  
  HLCA_assay:
    description: "HLCA dataset - Assay"
    data_path: "/home/wanglinting/scFM/Download/HLCA/HLCA_rawcount.h5ad"
    output_data_dir: "/home/wanglinting/scFM/Data/Evaluation/HLCA_assay"
    output_res_dir: "/home/wanglinting/scFM/Result/HLCA_assay"
    batch_key: "assay"
    celltype_key: "final_annotation"
    gene_col: "original_gene_symbols"

  
  HLCA_disease:
    description: "HLCA dataset - Disease"
    data_path: "/home/wanglinting/scFM/Download/HLCA/HLCA_rawcount.h5ad"
    output_data_dir: "/home/wanglinting/scFM/Data/Evaluation/HLCA_disease"
    output_res_dir: "/home/wanglinting/scFM/Result/HLCA_disease"
    batch_key: "disease"
    celltype_key: "final_annotation"
    gene_col: "original_gene_symbols"

  
  HLCA_sn:
    description: "HLCA dataset - Single-nucleus"
    data_path: "/home/wanglinting/scFM/Download/HLCA/HLCA_rawcount.h5ad"
    output_data_dir: "/home/wanglinting/scFM/Data/Evaluation/HLCA_sn"
    output_res_dir: "/home/wanglinting/scFM/Result/HLCA_sn"
    batch_key: "suspension_type"
    celltype_key: "final_annotation"
    gene_col: "original_gene_symbols"

